html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***************************************************/

body {
	background-color: #363636;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

h1, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

#container {
	display: flex;
	width: 1240px;
	height: 1760px;
	margin: 50px auto 50px auto;
	box-shadow: 0px 0px 35px black;
}

@media print {

	#container {
		margin-top: 0px;	
	}

}

section {
	width: 80%;
}

header {
	background-color: #00183d;
	width: 465px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 42px;
	color: #f7967d;
}

h2 {
	font-size: 32px;
	color: #cbd1d1;
	margin-top: 15px;
	padding-bottom: 40px;
	border-bottom: 3px solid #f7967d;
}

h3 {
	font-size: 32px;
	margin: 40px 0px 15px 0px;
}

header h3 {
	color: #f7967d;
}

main h3 {
	display: block;
	background-color: #f7967d;
	padding: 10px 10px 10px 20px;
	color: #00183d;
	border-radius: 10px;
}

main {
	background-color: #cbd1d1;
	width: 775px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*f7967d */
img {
	border-radius: 150px;
	width: 300px;
	height: 300px;
	margin: 50px 0px 50px 0px;
} 
